/*Reset*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Font*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-decoration: none;
}

/*{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;

  }*/

/*General*/
li > a{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-decoration: none;
    color: black;
    padding:10px;
}

.container-main{
    margin: 0 auto;
    width: 1000px;
}

.container{
    margin: 0 auto;
    width: 900px;
}


/*Header*/
header{
    min-height: 60px;
    background-color: white; 
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.605);
}

#flex-container-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-left{
    padding:10px;
    display: flex;
}

.navbar-right{
    display: flex;
}

.without-dot{
    list-style-type: none;
}

.without-dot > li{
    margin-right: 20px;
}

#get-started{
    width: max-content;
    background-color: #0160FF;
    color: white;
    padding: 10px;
}

/*Main*/

.container-main-top{
    background-color:#B3D0E7;
}

.content-main-top{
    padding: 40px 0;
    min-height: 300px;
    position: relative;
    top: 30px;
}

.content-main-top > p{
    margin-bottom: 20px;
    max-width: 400px;
    font-size: 16px;
}

.content-main-top > i{
    font-size: 50px;
}

.content-main-top > img{
    position: absolute;
    right: -90px;
    top:250px;
    width: 700px;
}

#title-main-top{
    font-size: 65px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.cta-main-top{
    width: fit-content;
    background-color: #0160FF;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
}

.subtitle-main-top{
    font-weight: 400;
    font-size: 16px;
    margin-bottom:20px;
}

.choose-business-plan{
    margin-top: 150px;
    margin-bottom: 30px;
}

.title-business-plan > h2{
    margin-bottom: 20px;
    font-size: 40px;
}

.type-business{
    margin-right: 15px;
}

/*Card Business Plan*/
.plan{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}
.card-business-plan{
    border: 1px solid lightgray;
    min-height: 700px;
    width: calc((100% / 3) - 20px);
    margin-top: 40px;
}

.last-card-business-plan{
    border: 1px solid lightgray;
    min-height: 200px;
    width: 100%;
    margin: 40px 0;
    position: relative;
}

.title-private{
    text-align: center;
    padding: 10px;
}

.info-business-plan{
    padding: 20px 20px;
}

.title-line{
    color: lightgray;
}

.title-info-business-plan > *{
    margin-bottom: 10px;
}

.title-info-business-plan{
    margin-bottom: 30px;
}

.info-title{
    font-size: 30px;
}

.grey-subtitle{
    color:grey
}

.property-business-plan > div{
    margin-bottom: 10px;
}

.property-business-plan > div > p{
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
}

.last-property-business-plan > p{
    font-size: 14px;
    font-weight: 400;
}

/*CTA*/
.cta-business-plan{
    color: white;
    background-color: #0160FF;
    padding: 10px 20px;
    width:100%;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.last-cta-business-plan{
    position: absolute;
    top: 70px;
    right: 40px;
    color: white;
    background-color: #0160FF;
    padding: 10px 20px;
    width:max-content;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.line-business-plan{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 30%;
}

.list > ul{
    list-style: none;
}

.list > ul li:before{
    content:'✓';
    color: #0160FF;
}

.list > h4{
    margin-bottom: 10px;
}

.list > ul> li{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
}

/*Immagine e Testo - sezione partner*/

.img-text{
    width: 100%;
    min-height: 500px;
    position: relative;
    margin: 70px 0;
}

.img-main-sx{
    position: absolute;
    left:0;
}

.img-main-sx > img{
    max-width:60%;
}

.text-main-dx{
    width: 30%;
    position: absolute;
    top:30px;
    right:50px;
    margin-left: 20px;
}

.text-main-dx > h3{
    font-size: 25px;
    margin-bottom: 15px;
}

.text-main-dx > p{
    font-size: 14px;
    margin-bottom: 15px;
}

.cta-partner{
    border: 1px solid black;
    width:max-content;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
}

/*Immagini operazioni con Dropbox Business*/

#title-operation-dbbusiness{
    font-size: 40px;
}

.operation-dbbusiness{
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
}

#title-operation-dbbusiness{
    margin-bottom: 50px;
}

.single-operation{
    flex-direction: row;
    width: calc(100% / 3);
    min-height: 200px;
    margin: 20px 0;
    padding: 0 10px;
}

.single-operation > img{
    max-width: 100%;
    margin-bottom: 20px;
}

.single-operation > h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.single-operation > p{
    font-size: 14px;
}
/*Footer*/